<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.github.chen.manager">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
        android:name=".base.AppContext"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.MainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.ImageLoaderActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="imageLoader"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden">
        </activity>
        <activity
            android:name=".ui.HandlerActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="handler"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden">
        </activity>
        <activity
            android:name=".ui.TextInputActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="input"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden">
        </activity>
        <activity
            android:name=".ui.login.LoginActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="login"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden">
        </activity>
        <activity
            android:name=".ui.LifeCycleActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="lifeCycle"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden">
        </activity>
        <activity
            android:name=".ui.SelectViewActivity"
            android:label="@string/title_activity_select_view"
            android:theme="@style/AppTheme">
        </activity>
        <!--
 ATTENTION: This was auto-generated to add Google Play services to your project for
     App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information.
        -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version"/>

        <activity
            android:name=".ui.ImageUploadActivity"
            android:label="@string/title_activity_image_upload"
            android:theme="@style/AppTheme">
        </activity>
        <activity
            android:name="cn.finalteam.rxgalleryfinal.ui.activity.MediaActivity"
            android:exported="true"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.DialogActivity"
            android:theme="@android:style/Theme.Dialog">
        </activity>

        <service android:name=".service.MyService"/>
        <service android:name=".service.MyIntentService"/>

        <activity android:name=".ui.CircleActivity">
        </activity>
    </application>

</manifest>